
.CodeMirror {
    position: absolute;
    top: 50px;
    right: 50%;
    bottom: 0;
    left: 0;
    font-size: 14px;
    height: auto;
    font-family: Consolas, Courier;
}
#toolbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    height: 50px; 
    border-bottom: 1px solid #ccc;    
    line-height: 50px;      
}
#preview {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 50%;
    overflow-y: scroll;
    padding: 10px 20px;
    font-size: 15px;
    font-family: Consolas, Courier, monospace, monospace !important;
/*            line-height: 1.5;
    letter-spacing: 1px;*/
    color: #415865;
}
#preview p {
    margin: 8px 0;
    line-height: 1.5;
}

#preview h1 {
    font-size: 30px;
    padding: 10px 0px;
    color: #280F34;
}
#preview h2 {
    font-size: 26px;
    padding: 10px 0px;
    color: #280F34;
}

#preview h3 {
    font-size: 22px;
    padding: 15px 0px;
    color: #280F34;

}
#preview h4 {
    font-size: 18px;
    padding: 15px 0px;
    color: #280F34;

}
#preview h5 {
    font-size: 15px;
    padding: 15px 0px;
    color: #280F34;
}
#preview blockquote {
    margin-left: 0;
    border-left: 5px solid #6EB6FF;
    padding-left: 10px;
    /*color: #6EB6FF;*/
}

#preview .code-in-text {
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px !important;
}

pre {
    overflow: auto;
}

pre > code {
    /*line-height: 1.2;*/
    font-family: monospace, monospace !important;

}
tt, code, kbd, samp {
    font-family: monospace, monospace !important;
    /*line-height: 1.4em !important;*/
}

.btn {
    display: inline-block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.btn:hover {
    background-color: #ccc;
    cursor: pointer;
}
table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
}
table thead {
    height: 40px;
    line-height: 40px;
}
table,th, td {
    height: 40px;
    line-height: 40px;
    border: 1px solid #280F34;
    padding-left: 10px; 
}
